<h2>Listing the database table</h2>
<!-- Here is the search form that can be used to search by the idcode
 The results are shown after pressign the button-->
<%= search_form(@conn, @rummage, [fields: [idcode: %{label: "", search_type: "ilike"},],
                                            button_class: "button"]) %>
<table class="table">
  <thead>
    <tr>
    <!-- Here I implying a sorting function.
         Yes this was not necesarry for the project but I left it in because its neat :) -->
      <th><%= sort_link @conn, @rummage, [field: :idcode] %></th>
      <th>Institute</th>
      <th>Time</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for data <- @datas do %>
    <tr>
      <!--Here we show the data, which is referenced in @datas.-->
      <td><%= data.idcode %></td>
      <td><%= data.inst %></td>
      <td><%= data.time %></td>
      <td><%= data.first %></td>
      <td><%= data.last %></td>
      <td><%= data.email %></td>
    </tr>
<% end %>

  </tbody>
</table>
<!-- This implying the pagination, meaning the data is now splitted into pages. 
     The amount of data that is displayed per page can be changed in the config/config.ex file. -->
<%= pagination_link(@conn, @rummage) %>
<!-- This button sends the user to the Upload site-->
<span><%= button("Go to Upload page", to: "/upload", method: "get", class: "btn") %></span>